version: '3'

services:
  mysql:
    image: mysql:9.0.1
    container_name: mysql
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: Asia/Seoul
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql

  redis:
    image: redis:7.2.6
    ports:
      - "6379:6379"

  photique:
    image: photique/backend-dev:0.1.0
    container_name: backend
    ports:
      - "8080:8080"
    restart: "no"
    environment:
      TZ: Asia/Seoul
    depends_on:
      - mysql
      - redis