name: 개발서버 Spring App 배포

#on:
#  pull_request:
#    branches:
#      - "develop"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 소스코드 체크아웃
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACTION_TOKEN }}
          submodules: true

      - name: JDK 17 설치
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: "temurin"

      - name: 앱 빌드
        run: ./gradlew clean build -x test

      - name: 도커 이미지 빌드 및 푸시
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -f docker/Dockerfile -t ${{ secrets.DOCKER_REPO_BLUE_DEV }}:0.1.0 .
          docker build -f docker/Dockerfile -t ${{ secrets.DOCKER_REPO_GREEN_DEV }}:0.1.0 .
          docker push ${{ secrets.DOCKER_REPO_BLUE_DEV }}:0.1.0
          docker push ${{ secrets.DOCKER_REPO_GREEN_DEV }}:0.1.0

      - name: EC2에 파일 복사
        uses: appleboy/scp-action@master
        with:
          username: ubuntu
          host: ${{ secrets.HOST_DEV }}
          key: ${{ secrets.KEY }}
          script: mkdir -p /home/ubuntu/spring
          source: docker/docker-compose.backend.dev.yml, deployment/deploy-dev.sh, deployment/rollback-dev.sh
          target: /home/ubuntu/spring

      - name: EC2 연결 및 backend 컨테이너 실행
        uses: appleboy/ssh-action@master
        with:
          username: ubuntu
          host: ${{ secrets.HOST_DEV }}
          key: ${{ secrets.KEY }}
          script: |
            mv /home/ubuntu/spring/docker/docker-compose.backend.dev.yml /home/ubuntu/spring/
            mv /home/ubuntu/spring/deployment/*.sh /home/ubuntu/spring/
            rm -rf /home/ubuntu/spring/docker
            rm -rf /home/ubuntu/spring/deployment
            echo ">>> 사용되지 않는 도커 시스템 리소스 정리"
            docker system prune -a -f
            chmod +x /home/ubuntu/spring/deploy-dev.sh
            echo ">>> 배포 스크립트 실행 시작"
            bash /home/ubuntu/spring/deploy-dev.sh
            echo ">>> 배포 스크립트 실행 완료"
            

