name: 개발서버 Spring App 배포

on:
  pull_request:
    branches:
      - "develop"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 소스코드 체크아웃
        uses: actions/checkout@v3

      - name: JDK 17 설치
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: "temurin"

      - name: 앱 빌드
        run: ./gradlew clean build -x test -D spring.profiles.active=dev

      - name: 도커 이미지 빌드 및 푸시
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -f Dockerfile -t ${{ secrets.DOCKER_REPO_BLUE_DEV }}:0.1.0 .
          docker build -f Dockerfile -t ${{ secrets.DOCKER_REPO_GREEN_DEV }}:0.1.0 .
          docker push ${{ secrets.DOCKER_REPO_BLUE_DEV }}:0.1.0
          docker push ${{ secrets.DOCKER_REPO_GREEN_DEV }}:0.1.0

      - name: EC2에 파일 복사
        uses: appleboy/scp-action@master
        with:
          username: ubuntu
          host: ${{ secrets.HOST_DEV }}
          key: ${{ secrets.KEY }}
          source: docker-compose.backend.dev.yml, ./deploy-dev.sh, ./rollback-dev.sh
          target: /home/ubuntu

      - name: EC2 연결 및 backend 컨테이너 실행
        uses: appleboy/ssh-action@master
        with:
          username: ubuntu
          host: ${{ secrets.HOST_DEV }}
          key: ${{ secrets.KEY }}
          script: |
            echo ">>> 사용되지 않는 도커 시스템 리소스 정리
            sudo docker system prune -a
            chmod +x /home/ubuntu/deploy-dev.sh
            echo ">>> 배포 스크립트 실행 시작"
            bash /home/ubuntu/deploy-dev.sh
            echo ">>> 배포 스크립트 실행 완료"
            

